
  /* _______ */



  /* General styling for dashboard container */
.edit-patient {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .edit-patient-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Left-align the header (main title) */
  .edit-patient-header {
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-align: left;
  }
  
  /* Left-align the subheader */
  .edit-patient-subheader {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    color: #666;
    text-align: left;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 8px; /* Adds 8px space between buttons */
  }
  

  .cancel-btn {
    padding: 10px 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 1px solid #c6c5c5;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-btn:hover {
    background-color: #f7efff;
  }

  .save-changes-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #5E2E93;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-changes-btn:hover {
    background-color: #7338b3;
  }