/* Container */
.signup-container {
  display: flex;
  flex-direction: column;  /* Stack form and illustration vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f6;
  padding: 0 20px;
}

/* Signup form styling */
.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 20px; /* Add space between form and illustration */
  /* background-color: white; */
}

.signup-logo {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 28px;
  color: #666;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}

.password-input {
  position: relative;
}

.show-password {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #7e7e7e;
  cursor: pointer;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #5E2E93;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.login-link {
  font-size: 14px;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
}

.login-link a {
  text-decoration: none;
}

.or-divider {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin: 20px 0;
}

.or-divider span {
  padding: 0 10px;
}

.google-signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #5E2E93;
}

.google-signup-btn img {
  width: 20px;
  margin-right: 10px;
}

.terms {
  font-size: 12px;
  text-align: center;
  color: #7e7e7e;
  margin-top: 20px;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

/* Adjust layout on larger screens */
@media (min-width: 992px) {
  .signup-container {
    flex-direction: row;  /* Align form and illustration side by side */
    padding: 0 50px;
  }

  /* Move form to the right */
  .signup-form {
    margin-left: 0px; /* Increase this value to move the form more to the right */
  }

  /* Show the illustration on larger screens */
  .signup-illustration {
    margin-top: 0;
    width: 440px;   /* Define the width */
    height: 420px;  /* Define the height */
    overflow: hidden; /* Hide any overflow (cropping) */
  }

  .signup-illustration img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
