/* src/components/MainContent.css */

.main-content {
    padding: 20px;
    background-color: #f9f9f9;
    flex-grow: 1; /* Allows the content to grow and fill the space */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full-height layout */
    overflow-y: auto; /* Adds a scroll bar if the content overflows */
  }
  
  .main-content h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  