/* src/components/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #eaeaea;
  z-index: 1000;
}

/* Align logo and title horizontally */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-title {
  font-family: 'Quicksand', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-name {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

.profile-icon {
  font-family: 'Inter';
  background-color: #5E2E93;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
