.updates-table-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table-header h2 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .view-all-link {
    font-family: 'Inter';
    font-size: 14px;
    color: #5E2E93;
    text-decoration: none;
  }
  
  .view-all-link:hover {
    text-decoration: underline;
  }
  
  .updates-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .updates-table th,
  .updates-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #eee;
  }
  
  .updates-table th {
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  
  .updates-table td {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #666;
  }

  .updates-table tr {
    background-color: #fff;
  }
  
  .updates-table tr:hover {
    background-color: #f9f9f9;
  }

  .section {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section h2 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
}

.section p {
    margin: 12px 0;
    text-align: left;
    font-size: 14px;
    /* line-height: 20px; */
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #fff;
    /* padding: 20px; */
}

.section p span {
    display: inline-block;
    line-height: 20px;

}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
}

.section .label {
    flex: 0 0 200px; /* Adjust width based on the space you need for labels */
    color: #1A181D;
}

.section .right-align {
    flex: 1;
    text-align: right;
    word-wrap: break-word;
}

.section ul li {
    margin-bottom: 8px;
}

.section-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .section-grid {
        grid-template-columns: 1fr;
    }
}
